<div class="container mt-5">
    <!-- Attenzione ad inserire nel tag form la proprietà [formGroup]="nome di fomrgroup definito
        in typescript" -->
    @if(errorMessage) {
        <div class="alert alert-danger m-5" role="alert">
            {{errorMessage}}
        </div>
    }
    <form class="needs-validation" [formGroup]="loginForm">
        <div class="mb-3 col">
            <label for="inputUsername" class="form-label">Username</label>
            <!-- Nel controllo occorre speficare formControlName=nome del controllo typescript -->
            <input type="email" class="form-control" placeholder="insert your email..."
            [class.is-invalid]="!loginForm.controls['username'].valid && 
            loginForm.controls['username'].touched"
            [class.is-valid]="loginForm.controls['username'].valid"
            autocomplete="email" #inputUsername formControlName="username">
            <div class="invalid-feedback">Username is required and must be an email address.</div>
        </div>
        <div class="mb-3 col">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" 
            [class.is-invalid]="!loginForm.controls['password'].valid && 
            loginForm.controls['password'].touched"
            autocomplete="current-password" formControlName="password">
            <div class="invalid-feedback">Password cannot be empty.</div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-sm-3 mt-3">
                <button type="button" class="btn btn-primary btn-block form-control" 
                [disabled]="!loginForm.valid" (click)="login()">Login</button>
            </div>
            <div class="col-sm-3 mt-3">
                <button type="button" class="btn btn-secondary btn-block form-control">Cancel</button>
            </div>
        </div>
    </form>
</div>
